$color: #00ACC1;
$fontSize: 20px;
$marginAll:20px;

.container {
  display: flex;
  color: #3F3F3F;
  flex-direction: column;
}

.user {
  width: 300px;
  display: flex;
  align-items: center;
  color: $color;
  font-size: $fontSize;
  margin: $marginAll;
  box-shadow:  4px 4px 30px 0px rgba(50, 50, 50, 0.75);
}

.user__avatar {
  width: 100px;
  height: 100px;
}


.user:nth-child(1n) .user__avatar {
  background: url('../img/serious_cat.jpg') no-repeat center;
  background-size: cover;
}

.user:nth-child(2n) .user__avatar {
  background: url('../img/kuki_cat.jpg') no-repeat center;
  background-size: cover;
}

.user:nth-child(3n) .user__avatar {
  background: url('../img/grumpy_cat.jpg') no-repeat center;
  background-size: cover;
}

.user:nth-child(4n) .user__avatar {
  background: url('../img/kuki_cat.jpg') no-repeat center;
  background-size: cover;
}
.user:nth-child(5n) .user__avatar {
  background: url('../img/kuki_cat.jpg') no-repeat center;
  background-size: cover;
}